ModuleNotFoundError: No module named 'pyspark'

In [2]:
import pyspark

ModuleNotFoundError: No module named 'pyspark'

In [3]:
import findspark

In [5]:
findspark.init('/home/yasith/spark-2.3.1-bin-hadoop2.7')

In [12]:
import pyspark

In [13]:
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [18]:
df = spark.read.json('/home/yasith/spark-2.3.1-bin-hadoop2.7/documents/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [21]:
#show 
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [22]:
#schema
df.printSchema() #long another numeric datatype

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [24]:
#column names
df.columns

['age', 'name']

In [29]:
#stats summary
#df.describe()

In [33]:
#Schemas
#Importing schema types can be different to schema types needed, the below proessing shows how to define our own schema
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [37]:
data_schema = [StructField('age', IntegerType(), True), 
              StructField('name', StringType(),True)]

In [38]:
final_struc = StructType(fields = data_schema)

In [39]:
df = spark.read.json('/home/yasith/spark-2.3.1-bin-hadoop2.7/documents/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json', schema = final_struc)

In [40]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [41]:
df['age']

Column<b'age'>

In [43]:
df.select('age').show() #this returns a dataframe with a single column

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [47]:
#check first two rows of datafram
df.head(2)[0]
type(df.head(2)[0])

pyspark.sql.types.Row

In [49]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [51]:
df.withColumn('newage', df['age']*2).show() #returns a new df by adding or replacing current colm

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [53]:
#rename colmn 
df.withColumnRenamed('age', 'my_new_Age').show()

+----------+-------+
|my_new_Age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

SQL and Spark

In [54]:
#Use sql to interact with Dataframe 
#registered as a sql temp view
df.createOrReplaceTempView('people')

In [55]:
results = spark.sql("Select * from people")

In [57]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [60]:
new_results = spark.sql(' select * from people where age = 30')
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

Filter data